
<%= javascript_include_tag 'users/search'%>
<%= render partial: "layouts/dash_board/sidebar_top"%>

<div class="col-custom-md-21">
      <div class="content-section">
      <h2 class="title">DASHBOARD
      </h2>
      <div class="about-box-head">
        <form accept-charset="UTF-8" action="/find_events" method="get" class="form-inline">
              <span class="title-2">Find  <span class="highlight-1">Event</span></span>
            
            
            <p>  <label class="control-label" for="inputpagetitle">SEARCH EVENTS: </label>
               
              <input class="control-label" id="search" name="search" type="text" />
              <%= submit_tag "Search", :name => nil, :id =>"validate-search" ,:class=>"btn-sm new" %> 
            </p>  
        <%# end %> 
        </form> 
        </div>
<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Venue</th>
    <th>Event start date</th>
    <th>Event end date</th>
    <th>Show Event</th>
  </tr>
<% if @events%>
<% @events.each do |event| %>
  <tr>
    <td><%= truncate(event.title, :length => 60).html_safe%></td>
    <% desc = Sanitize.clean(event.description) %>
    <td><%= truncate((desc), :length => 200)%></td>
    <td><%= "#{event.address.city} #{event.address.state}" if event.address %></td>
    <td><%= event.event_start_date.strftime("%b %d,%Y") %></td>
    <td><%= event.event_end_date.strftime("%b %d,%Y") %></td>
    <td><%= link_to 'Show', event %></td>
  </tr>
<% end %>
</table>
    <div style="text-align:center;">
                <%= will_paginate @events,:page_links => true, renderer: BootstrapPagination::Rails %>
    </div>
 <% end %>


<br />
<div class="clearfix">
       
<div>

<%= render partial: "layouts/dash_board/sidebar_bottom"%>

      <style>
      td p img {
        display:none;
      }
      td p object{
        display:none;
      }



p { display : inline; }
</style>
