<%= render partial: "layouts/dash_board/sidebar_top"%>

<div class="col-custom-md-21">
			<div class="content-section">
			<h2 class="title">Dashboard
				<% if current_user.has_role?(:guest) %>
				  <% if !current_user.has_role?(:host) %>
				    <%= link_to(" Become A Host", host_path, class: "btn btn-mini btn-primary",  style: 'float:right; margin-right:30px') %>
				  <% end %>
				<% end %>
			</h2>
   <% if session[:role]=="guest"%>
	 <%= render partial: "layouts/dash_board/events_for_guest" %>
	<% else %>
	  <%= render partial: "layouts/dash_board/events_for_host" %>
	<% end %>
<%= render partial: "layouts/dash_board/sidebar_bottom"%>
