<%= javascript_include_tag 'users/contact'%>
<%= render partial: "layouts/header"%>  
<!-- <script src="js/jquery.validate.min.js"></script> -->
 
<div class="clearfix"></div>
  <div class="banner-back">
  <div class="container">
    <div class="row">
    <div class="col-md-12">
      <div class="about-box">
      <div class="about-box-head">
        <span class="title-2">Contact <span class="highlight-1">Us</span></span>
      </div>
     
            <form accept-charset="UTF-8" action="/contact_us" method="post"  id="contact-form">
            <div class="col-md-4 martop3 form-horizontal">
              <!-- <form class="form-horizontal"> -->
                <div class="control-group">
                <label for="inputpagetitle" class="control-label">Name :</label>
                <div class="controls">
                <input type="text" class="form-control input-sm" id="contact_name" name="contact1[name]">
                </div>
                </div>
              

                
              <!--  <div class="control-group">
                <div class="controls">
                <img src="../img/captcha.png">
                </div>
                </div> -->
                
              
          
              <!-- </form> -->
            </div>
      <div class="col-md-3 martop3 form-horizontal">
              
                <div class="control-group">
                <label for="inputpagetitle" class="control-label">Email :</label>
                <div class="controls">
                <input type="text" class="form-control input-sm" id="contact_email" name="contact1[name]" style="width:200%;" />
                </div>
                </div>

            </div>
          
            <div class="clearfix"></div>
            
            
            <div class="col-md-11 martop3 form-horizontal">
              <div class="control-group">
                <label for="inputlogo" class="control-label">Message :</label>
                <div class="controls">
                <textarea rows="4" id="contact_message" class="col-md-12 form-control input-sm" name="contact1[message]"> </textarea>
                </div>
                </div>
            </div>
                
           <!--  </form> -->
            
            <div class="clearfix"></div>
            <div style="align:center;">
            <div class="col-md-12 martop1" style="background:#f1f4f9;align:center;">
            <div class="signup pull-left form-inline">
            <!-- <form class="form-inline" role="form"> -->
              <div class="form-group">
              
              <%= recaptcha_tags %>    
              
              </div>
             
            
              <button type="submit" id="contactValidate" class="btn btn-default">Submit</button>
            </form>
          </div>
          
          </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
       
    

                
        </p>

      <!-- </div> -->
      </div>
    </div>
    </div>
  </div>
  </div> 
  <%= render partial: "layouts/content"%>

  
  <%= render partial: "layouts/footer"%>
