
<%= render partial: "layouts/header"%>
		
<div class="clearfix"></div>
	<div class="banner-back">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
				  <div class="about-box">
					<div class="about-box-content">
						      <div class="row">
          <div class="col-md-16 col-md-offset-1">
            <table class="table table-striped box-border">
              <thead class="box-head" >
                  <tr><td colspan="2"><p><strong><%= @event.title %></strong></p></tr>
              </thead>
              <tbody>
                <tr><td colspan="2"><strong>Description:</strong></td></tr>
 
                <tr><td colspan="2">  <%= raw(@event.description) %></td></tr>
                <tr><td><strong>Start Date:</strong><span>  <%= @event.event_start_date.strftime("%b %d,%Y") %>
</span></td>
                                <td><strong>End Date:</strong><span>  <%= @event.event_end_date.strftime("%b %d,%Y") %>
</span>
                                </tr>
                <tr><td><strong>Start Time</strong><span> <%= @event.event_start_date.strftime("%I:%M%p") %></span></td>
                	<td><strong>End Time</strong><span> <%= @event.event_end_date.strftime("%I:%M%p") %></span></td></tr>
                <tr><td><strong>Location:</strong><span>
                <%= "#{@event.address.city} #{@event.address.state}" if @event.address %></td>
                   <td colspan="2"><strong>Host Name:</strong><span>
                <%= "#{@event.user.uname} #{ @event.user.last_name}" if @event.user %></span>
</td></tr>

             </tbody>
             </table>
          </div>
        </div>
<div style="padding-left:80px;" >      
        <%#= link_to 'Login',"#hello1",class: "disabled btn-sm new fancybox "%>
        <div class="btn btn-sm new showsignin"> SignIn</div> OR  <%= link_to "Register", sign_up_path, class: "btn-sm new" %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <%=link_to_function "Back to events", "history.back()"%>
       </div> 

						</div>
					</div>
				</div>
			</div>
		</div>
	</div> 
	    <%= render partial: "layouts/signin"%>

	<%= render partial: "layouts/content"%>

	
	<%= render partial: "layouts/footer"%>

<script>
$(document).ready(function()
{
$(".showsignin").click(function(){
   $("#signinModal").modal("show");
 });

});
</script>