<%= render partial: "layouts/header"%>
<div class="clearfix"></div>
<div class="banner-back">
  <div class="container">
	<div class="row">
	  <div class="col-md-12">
		<div class="about-box">
		  <div class="about-box-head">
			<span class="title-2">Upcoming  <span class="highlight-1"> Events</span></span>
		  </div>
		  <div class="about-box-content">
			<div class="about-box-content">
      		<% @events.order("id DESC").each do |event| %>        
              <span class="title-2"><span class="highlight-1">
              	<%= event.title %></span></span><br/>
               <div> <b>Location: </b>  <%= "#{event.address.city} #{event.address.state}" if event.address  %> </div>
              <div> <b>Start Date: </b>  <%= event.event_start_date %> </div>
              <div><b> End Date: </b>  <%= event.event_end_date %></div> 
              <div><b> Description: </b>  <%= raw(event.description) %></div> 
              <div><%= link_to "Read More", read_more_path(event) %></div>
            <% end %>
                  </div>

      		<div style="text-align:center;">
      	      <%= will_paginate @events %>
      	    </div>
   		  </div>
		</div>
      </div>
	</div>
  </div>
</div> 	
	<%= render partial: "layouts/content"%>	
	<%= render partial: "layouts/footer"%>

   <script>
   $(document).ready(function(){
      $('p img').parent().hide();
      $('p object').parent().hide();
   });

</script>
<style>
p { display : inline; }
</style>
