    <%= javascript_include_tag "events/new-event" %>
    <%= javascript_include_tag "bootstrap.min" %>
    <%= javascript_include_tag "bootstrap-datepicker.min" %>

<%= render partial: "layouts/dash_board/sidebar_top"%>

<div class="col-custom-md-21">
      <div class="content-section">
      <h2 class="title">Dashboard
      </h2>
                 <div class="box-head">
                  <tr><td colspan="4"> <strong>Create <span style="color:#e06d21;">Event</span></strong>
  <div class="some"> </td></tr>
                  
              </div>
     </div>


  <div class="some">
<div class="col-md-12 martop1  form-horizontal">  
  <%= form_for(@event) do |f| %>

  <div class="control-group" style="margin-left:-105px" >
     <label class="control-label" for="event_title">Title:</label>
    <div class="controls" >
      <%= f.text_field :title, class: "form-control"%>
    </div>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.cktext_area :description %>
  </div>
</div>
  <%= f.fields_for :address do |form| %>

<div class=" col-md-12 martop1  form-horizontal">

   <div class="control-group">
     <label class="control-label" for="event_address_street_address">Street address:</label>
    <div class="controls" >
      <%= form.text_field :address, class: "form-control", id: "event_address_address"%>
    </div>
  </div>
   <div class="control-group">
     <label class="control-label" for="event_address_zipcode">Zip Code:</label>
    <div class="controls" >
      <%= form.text_field :zipcode, class: "form-control", id: "event_address_zipcode"%>
    </div>
  </div>
  <div class="control-group">
     <label class="control-label" for="address_city">City:</label>
    <div class="controls" >
           <%= form.text_field :city, class: "form-control", id: "address_city"%>
    </div>
  </div>
       <div class="control-group">
                  <label for="inputlogo" class="control-label">State :</label>
                  <div class="controls">
                     <%= form.select(:state, options_for_select(us_states, @event.address ? @event.address.state : ''), {},{:class => "form-control", :id => "address_state"} )%>                
                 </div>
                </div>
           <% end %>


          <div class="control-group">
                   <label class="control-label" for="event_state_date">Event Start's at:</label>
                <div class='input-group date controls' id='datetimepicker1'>
                       <%= f.text_field :event_starts, class: "form-control", id: "event_start_date"%>

                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
          </div>
         <div class="control-group">
                   <label class="control-label" for="event_end_date">Event End's at:</label>
                <div class='input-group date controls' id='datetimepicker2'>
                         <%= f.text_field :event_ends, class: "form-control",id: "event_end_date"%>

                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
          </div>

  <div class="control-group" style= "margin-top:60px">
    <input class="btn-sm new eventvalidate" name="commit" type="submit" id="eventValidate" value="Publish" />
  </div>

   <div class="control-group">
     <input class="btn btn-primary pull-right eventvalidate" name="commit" type="submit" value="Or Save as Draft" />
  </div>
</div>
<% end %>
</div><!-- form horizontal-->

 
<%= render partial: "layouts/dash_board/sidebar_bottom"%>

<style>
.registration-box{
width:100%;
min-height:355px;
background:#fff;
border: 2px solid #ededf3;
}
.registration-box-content{
padding:10px;
}

.form-horizontal .control-group{
margin-bottom:12px;
}

.form-horizontal .control-label {
    float: left;
    padding-top: 5px;
    text-align: right;
    width: 135px;
}

.form-horizontal .controls {
    margin-left: 145px;
}


</style>

