
<%= render partial: "layouts/dash_board/header"%>



<section>
  <div class="container-admin">
  <div class="row">
    <div class="col-custom-md-3">
      <div class="left-nav">
        <ul>
        <div class="selected"><li  ><%= link_to "Dashboard", root_path, style:"margin:-14px" %></li></div>
        <li><a href="#">The EC</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
    <div class="col-custom-md-21">
      <div class="content-section">
      <h2 class="title">Dashboard
        <% if current_user.has_role?(:guest)||current_user.has_role?(:host) %>
          <% if !current_user.has_role?(:host) %>
            <%= link_to(" Become A Host", host_path, class: "btn btn-mini btn-primary",  style: 'float:right; margin-right:30px') %>
          <% end %>
          <% if !current_user.has_role?(:guest) %>
            <%= link_to(" Become A Guest",guest_path, class: "btn btn-mini btn-primary",  style: 'float:right; margin-right:30px') %>
          <% end %>
        <% end %>
      </h2>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Venue</th>
    <th>Event start date</th>
    <th>Event end date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.title %></td>
    <td><%= event.description %></td>
    <td><%= event.venue %></td>
    <td><%= event.event_start_date %></td>
    <td><%= event.event_end_date %></td>
    <% if can? :read, event %>
    <td><%= link_to 'Show', event %></td>
      <% if current_user.is_registered?(event) %>
        <td><%= link_to 'Registered', '#',class: "test"%></td>
      <% else %>
        <td><%= link_to 'Register', register_event_path(event)%></td>  
      <% end %>
    <% end %>
    <% if can? :edit, event %>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <% end %>
    <%if can? :delete, event %>
    <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
<%= link_to 'Back', root_path %>

      <div class="clearfix"></div>
      </div> <!-- Content-section closing -->
    </div> <!-- Col-custom-21 closing -->
  </div><!-- Main Row closing --> 
    </div><!-- Container Admin closing -->  
  </section>





