
<%= render partial: "layouts/dash_board/header"%>


<section>
  <div class="container-admin">
  <div class="row">
    <div class="col-custom-md-3">
      <div class="left-nav">
        <ul>
        <div class="selected">
          <li><%= link_to "Dashboard", root_path, style:"margin:-14px" %></li>
        </div>
        <div class="selected">
          <li><%= link_to "The EC", ec_path %></li>
        </div>
        <div class="selected">
          <li><%= link_to "About", about_us_dashbord_path %></li>
        </div>
        <div class="selected">
          <li><%= link_to "Contact", user_contact_path %></li>
          </div>
        </ul>
      </div>
    </div>
    <div class="col-custom-md-21">
      <div class="content-section">
      <h2 class="title">Dashboard</h2>



      <div class="row">
          <div class="col-md-16 col-md-offset-1">
            <table class="table table-striped box-border">
              <thead class="box-head" >
                  <tr><td colspan="2"><p><strong><%= @event.title %></strong></p></tr>
              </thead>
              <tbody>
                <tr><td colspan="2"><strong>Description:</strong></td></tr>
                <tr><td colspan="2">  <%= @event.description %></td></tr>
                <tr><td><strong>Start Date:</strong><span>  <%= @event.event_start_date.strftime("%b %d,%Y") %>
</span></td>
                                <td><strong>End Date:</strong><span>  <%= @event.event_end_date.strftime("%b %d,%Y") %>
</span>
                                </tr>
                <tr><td><strong>Start Time</strong><span> <%= @event.event_start_date.strftime("%I:%M%p") %></span></td><td><strong>End Time</strong><span> <%= @event.event_end_date.strftime("%I:%M%p") %></span></td></tr>
                <tr><td colspan="2"><strong>Location:</strong></td></tr>
                <tr><td colspan="2">  <%= @event.venue %>
</td></tr>
                <tr><td colspan="2"><strong>Host Name:</strong></td></tr>
                <tr><td colspan="2">  <%= @event.user.uname %> <%= @event.user.last_name %>
</td></tr>

<tr>
       <% if current_user.is_registered?(@event) %>
         <td colspan="2"><%= link_to 'Registered','#',class: "disabled btn-sm new "%></td>
      <% else %>
         <td colspan="2"><%= link_to 'Register', register_event_path(@event), class: "btn-sm new"%></td>
      <% end %>
              </tbody>
             </table>
          </div>
      </tr>
          
        </div> <!-- Row closing -->   
        <div class="clearfix"></div>

     