
<%= render partial: "layouts/dash_board/sidebar_top"%>


    <div class="col-custom-md-21">
      <div class="content-section">
      <h2 class="title">Dashboard</h2>
      <div class="row">
          <div class="col-md-16 col-md-offset-1">
            <table class="table table-striped box-border">
              <thead class="box-head" >
                  <tr><td colspan="2"><p><strong><%= @event.title %></strong></p></tr>
              </thead>
              <tbody>
                <tr><td colspan="2"><strong>Description:</strong></td></tr>
 
                <tr><td colspan="2">  <%= raw(@event.description) %></td></tr>
                <tr><td><strong>Start Date:</strong><span>  <%= @event.event_start_date.strftime("%b %d,%Y") %>
</span></td>
                                <td><strong>End Date:</strong><span>  <%= @event.event_end_date.strftime("%b %d,%Y") %>
</span>
                                </tr>
                <tr><td><strong>Start Time</strong><span> <%= @event.event_start_date.strftime("%I:%M%p") %></span></td><td><strong>End Time</strong><span> <%= @event.event_end_date.strftime("%I:%M%p") %></span></td></tr>
                <tr><td colspan="2"><strong>Location:</strong></td></tr>
                <tr><td><%= "#{event.address.city} #{event.address.state}" if @event.address %></td></tr>
                <tr><td colspan="2"><strong>Host Name:</strong></td></tr>
                <tr><td colspan="2">  <%#= @event.user.uname %> <%#= @event.user.last_name %>
</td></tr>

<tr>
       <% if current_user.is_registered?(@event) %>
         <td colspan="2"><%= link_to 'Registered','#',class: "disabled btn-sm new "%></td>
      <% else %>
         <td colspan="2"><%= link_to 'Register', register_event_path(@event), class: "btn-sm new"%></td>
      <% end %>
              </tbody>
             </table>
          </div>
      </tr>
  
        </div> <!-- Row closing -->   
        <div class="clearfix"></div>

      <div style="height:130px;background-color:black; padding-bottom:20px">
        <a href='/assets/image.jpeg' class="fancybox"><img src="/assets/image.jpeg"></a>
         <%= link_to image_tag("image.jpeg",height: "120", weight: "120"), class:"fancybox" %>
      </div>



     <%= render partial: "layouts/dash_board/sidebar_bottom"%>


<script>
jQuery(function() {
  $("a.fancybox").fancybox();
});
</script>
<script>
   $(document).ready(function(){
   $('p img').parent().hide();
   $('p object').parent().hide();

   });



</script>

<style>

p { display : inline; }

</style>