
<%= render partial: "layouts/dash_board/header"%>


<section>
  <div class="container-admin">
  <div class="row">
    <div class="col-custom-md-3">
      <div class="left-nav">
        <ul>
        <div>
          <li><%= link_to "Dashboard", root_path, style:"margin:-14px" %></li>
        </div>
        <div class="selected">
          <li><%= link_to "The EC", ec_path, style:"color:#aadbd0"  %></li>
        </div>
        <div>
          <li><%= link_to "About", about_us_dashbord_path %></li>
        </div>
        <div>
          <li><%= link_to "Contact", user_contact_path %></li>
          </div>
        </ul>
      </div>
    </div>
    <div class="col-custom-md-21">
      <div class="content-section">
      <h2 class="title">The EC</h2>
      <div class="row">
          <div class="col-md-16 col-md-offset-1">
          </div>
      </tr>          
        </div> <!-- Row closing -->   
        <div class="clearfix"></div>

     