	<div class="some">
				<div class="header1 fixed" style ="float:left;margin:8px">
						<table class="table table-striped box-border table-dummy">
						   <thead class="box-head">
								  <tr><td colspan="3"><strong>Events <span style="color:#e06d21;">Attended</span></strong></td></tr>
								  
							</thead>
						
							<tbody>
							<tr>
									<td><strong>Title</strong></td>
									<td><strong>Venue</strong></td>
									<td><strong>Start Date</strong></td>
								</tr>
								<% @events_attended.to_enum.with_index(1) do |event,i |%>
								<tr>
									<td><%= event.title %></td>
									<td><%= event.venue %></td>
									<td><%= event.event_start_date.strftime("%b %d,%Y") %></td>
								</tr>
								<% break if i==3 %>
								<% end %>
						  </tbody>
						 </table>

				

<table id="events_registered" class="table table-striped box-border table-main display" data-source="/events_attended.json" style="display:none">
  <thead>
    <tr>
      <th>Title</th>
      <th>Venue</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>



					</div>
					<div class="header1 fixed" style ="float:left;margin:8px">
						<table class="table table-striped box-border table-dummy">
						   <thead class="box-head">
							  <tr>
								<tr><td colspan="3"><strong>Current &amp; Upcoming <span style="color:#e06d21;">Events</span></strong></td></tr>
							  </tr>
						   </thead>
						   <tbody>
							<tr>
									<td><strong>Title</strong></td>
									<td><strong>Venue</strong></td>
									<td><strong>Start Date</strong></td>
								</tr>
								<% @current_events.to_enum.with_index(1) do |event,i |%>
								<tr>
									<td><%= event.title %></td>
									<td><%= event.venue %></td>
									<td><%= event.event_start_date.strftime("%b %d,%Y") %></td>
								</tr>
								<% break if i==3 %>
								<% end %>
						  </tbody>
						 </table>


						<table id="events_running" class="table table-striped box-border table-main display" data-source="/current_events.json" style="display:none">
 									 <thead>
   										 <tr>
    									  <th>Title</th>
      										<th>Venue</th>
      										<th>Start Date</th>
      										<th>End Date</th>
      										<th></th>
    										</tr>
  										</thead>
 									 <tbody>
  									</tbody>
						</table>


					</div>
				</div> <!-- Row closing -->		