<head>
<%= stylesheet_link_tag "home/mainpage/main-index" %>
  
  <% if @user %>
  
  <% @user.errors.full_messages.each do |msg,name| %>
  <div class="alert alert-<%= name.to_s == 'notice' ? "success" : "danger" %>">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>  
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    </div>
    <% end %>
    
  <% end %>

</head>
<body>
  <header>
    <div class="container">
      <div class="row">
        <div class="col-md-5">
        <h1 class="tagline">Event Planning. Organizing. and Execution</h1>
        <img class="logo img-responsive" src="/assets/logo.jpg" alt="Logo"></img>
        </div>        
        
        <div class="col-md-7">
          <div class="signup martop2">
          <form action="/search" class="form-inline" method="get" accept-charset="UTF-8">               
              <div class="form-group"> 
                <input class="form-control input-sm" id="search" name="search" type="text" />
              </div>
              <div class="form-group"> 
                <%= submit_tag "Search", :name => nil, class: "btn btn-default input-sm" %>  
              </div>

              <div class="form-group">     
                  <div class="btn btn-sm new showsignin"> SignIn</div>
              </div>                   
        <%# end %>  
          </form>
          </div>


          <nav class="main-nav">
            <ul class="nav-pills">
              <li><a href="/home">THE EC</a></li>
              <li><%= link_to "ABOUT",about_us_path %></li>
              <li><a href="/users/sign_up">REGISTER</a></li>
              <li><%= link_to "CONTACT",contact_path %></li>
              <li><%= link_to "EVENTS",user_events_path %></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>

     <!--  </div> -->
          
          <!-- <div class="clearfix"></div> -->

</body>
<%= render partial: "layouts/signin"%>

<script>
$(document).ready(function()
{
$(".showsignin").click(function(){
   $("#signinModal").modal("show");
 });

});


</script>