<%= render partial: "layouts/header"%>
    
<div class="clearfix"></div>
  <div class="banner-back">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <div class="registration-box">
            <div class="about-box-head">
              <span class="title-2">Guest <span class="highlight-1">Registration</span></span>
            </div>
          <%= form_for(resource, as: resource_name, url: user_registration_path) do |f| %>
            <div class="col-md-4 martop3  form-horizontal">
              <div class="control-group">
                <label class="control-label" for="inputpagetitle">First Name :</label>
              <div class="controls">
                <input id="user[first_name]" class="form-control input-sm" type="text" name="user[first_name]" tabindex="1">
             </div>
           </div>
          <div class="control-group">
           <label class="control-label" for="inputlogo">Password :</label>
           <div class="controls">
            <input id="user_password" class="form-control input-sm" type="password" name="user[password]" tabindex="4">
          </div>
       </div>
  <% if @user %>          
  <% @user.build_address %>
  <%end%>
    <%= f.fields_for :address do |form| %>

       <div class="control-group">
        <label class="control-label" for="inputlogo">Street Address :</label>
      <div class="controls">
        <input id="user_address_address" class="form-control input-sm" type="text" name="user[address_attributes][address]" tabindex="7">
      </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputlogo">Zip Code :</label>
        <div class="controls">
        <input id="zipcode" class="form-control input-sm" type="text" name="user[address_attributes][zipcode]" tabindex="10">
      </div>
      </div>

<div class="clearfix"> </div>
            <div class="signup text-center form-inline" tabindex="12">
              <%= recaptcha_tags %>     
            </div>
</div>
<div class="col-md-4 martop3  form-horizontal">                 
            <div class="control-group">
              <label class="control-label" for="inputpagetitle">Last Name :</label>
              <div class="controls">
                <input type="text" name="user[last_name]" id="user[last_name]" class="form-control input-sm" tabindex="2">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="inputlogo">Verify Password :</label>
                <div class="controls">
                  <input type="password" name="user[password_confirmation]" id="password_confirmation" class="form-control input-sm" tabindex="5">
                </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="inputlogo">City :</label>
              <div class="controls">
                <input type="text" name="user[address_attributes][city]" id="user_address_city" class="form-control input-sm" tabindex="8">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="inputlogo">Phone No :</label>
              <div class="controls">
                <input type="text" name="user[address_attributes][phone_no]" id="user_phone1" class="form-control input-sm" tabindex="11">
              </div>
            </div>
            <br/>
            <br/>
            <button class="btn-sm new" type="submit" id="testValidate" tabindex="13">Submit</button>

</div>
<div class="col-md-4 martop3  form-horizontal">

           <div style="margin:0;padding:0;display:inline">
             <input type="hidden" name="utf8" value="✓">
             <input type="hidden" name="authenticity_token" value="h4iN59LTLP1qbHozw++iJ5x16lv+W1A5uw0TQmRPhBc=">
            </div>                
            <div class="control-group">
              <label class="control-label" for="inputlogo">Email :</label>
              <div class="controls">
                <input type="text" name="user[email]" id="user_email1" class="form-control input-sm" tabindex="3">
              </div>
            </div>   

                <div class="control-group">
                  <label for="inputlogo" class="control-label">Role:</label>
                  <div class="controls">
                    <% if params[:role]=="host"%>
                     <select class="form-control" name="role[role_id]" tabindex="6">                  
                      <option value="host">Host</option>
                      <option value="guest">Guest</option>
                      <option value="">Select</option>
                     </select>
                     <% elsif params[:role]=="guest" %>
                    <select class="form-control" name="role[role_id]" tabindex="6">                  
                      <option value="guest">Guest</option>
                      <option value="host">Host</option>
                      <option value="">Select</option>
                     </select>
                     <% else %>
                    <select class="form-control" id="role_dropdown" name="role[role_id]" tabindex="6">
                      <option value="">Select</option>
                      <option value="host">Host</option>
                      <option value="guest">Guest</option>
                    </select>
                    <%end%>
                  </div>
                </div>
                <div class="control-group">
                  <label for="inputlogo" class="control-label">State :</label>
                  <div class="controls">
                    <select class="form-control" name="user[address_attributes][state]" tabindex="9">
                      <option value="">Select</option>
                      <option value="Alabama">Alabama</option>
                      <option value="Alaska">Alaska</option>
                      <option value="Arizona">Arizona</option>
                      <option value="Arkansas">Arkansas</option>
                      <option value="California">California</option>
                      <option value="Colorado">Colorado</option>
                      <option value="Connecticut">Connecticut</option>
                      <option value="Delaware">Delaware</option>
                      <option value="Florida">Florida</option>
                      <option value="Georgia">Georgia</option>
                      <option value="Hawaii">Hawaii</option>
                      <option value="Idaho">Idaho</option>
                       <option value="Illinois">Illinois</option>
                      <option value="Indiana">Indiana</option>
                      <option value="Iowa">Iowa</option>

                      <option value="Kansas">Kansas</option>
                      <option value="Kentucky[C]">Kentucky[C]</option>
                      <option value="Louisiana">Louisiana</option>

                      <option value="Maine">Maine</option>
                      <option value="Maryland">Maryland</option>
                      <option value="Massachusetts[D]">Massachusetts[D]</option>


                      <option value="Michigan">Michigan</option>
                      <option value="Minnesota">Minnesota</option>
                      <option value="Mississippi">Mississippi</option>

                      <option value="Missouri">Missouri</option>
                      <option value="Montana">Montana</option>
                      <option value="Nebraska">Nebraska</option>

                      <option value="Nevada">Nevada</option>
                      <option value="New Hampshire">New Hampshire</option>
                      <option value="New Jersey">New Jersey</option>

                    <option value="New Mexico">New Mexico</option>
                      <option value="New York">New York</option>
                      <option value="North Carolina">North Carolina</option>

                      <option value="North Dakota">North Dakota</option>
                      <option value="Ohio">Ohio</option>
                      <option value="Oklahoma">Oklahoma</option>
                      <option value="Oregon">Oregon</option>
                      <option value="Pennsylvania[E]">Pennsylvania[E]</option>
                      <option value="Rhode Island[F]">Rhode Island[F]</option>
                      <option value="South Carolina">South Carolina</option>
                      <option value="South Dakota">South Dakota</option>
                      <option value="Tennessee">Tennessee</option>
                      <option value="Texas">Texas</option>
                      <option value="Utah">Utah</option>
                      <option value="Vermont">Vermont</option>
                      <option value="Virginia[G]">Virginia[G]</option>
                      <option value="Washington">Washington</option>
                      <option value="West Virginia">West Virginia</option>
                      <option value="Wisconsin">Wisconsin</option>
                      <option value="Wyoming">Wyoming</option>
                    </select>
                  </div>
                </div>
                
    
            <div class="col-md-12 martop1" style="background:#f1f4f9;">
              

         

          </div>
          </div>

          <%end%>
        <%end%>

          

          </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
    
  <%= render partial: "layouts/content"%>

  
  <%= render partial: "layouts/footer"%>
<style>
.form-horizontal .control-group{
margin-bottom:12px;
}

.form-horizontal .control-label {
    float: left;
    padding-top: 5px;
    text-align: right;
    width: 135px;
}

.form-horizontal .controls {
    margin-left: 145px;
}
</style>

<script type="text/javascript">
$(document).ready(function() {
    $('#testValidate').click(function() {
        var sEmail = $('#user_email1').val();
        var password = $('#user_password').val();
        var password_confirm = $('#password_confirmation').val();
        var mydropdown = $('#role_dropdown').val();
        var zip = $('#zipcode').val();
        var zipRegex = /^\d{5}$/;   
        var pattern = /^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/;
        var phone = $('#user_phone1').val();
        var phoneno = /^[0-9-+]+$/;


        if ($.trim(sEmail).length == 0) {
            alert('Please enter valid email address'); 
            return false;
        }
        else if (!pattern.test(sEmail))
        {
            alert("Enter valid Email Address");
            return false;
        }
        else if ($.trim(password).length == 0) {
            alert('Please enter password'); 
            return false;
        }
        else if ($.trim(password_confirm).length == 0) {
           alert('Please enter verify password');
            return false;
        } 
        else if (password != password_confirm ) {
            alert('Password does not match with verify password');
            return false;
        }
        else if (mydropdown.length == 0 || $(mydropdown).val() == "")
        {
            alert("Please select Role");
            return false;
        }
        else if (!zipRegex.test(zip))
        {
            alert("Enter valid zipcode");
            return false;
        }
         else if (!phoneno.test(phone)){ 
            alert("Enter valid Phone number");
            return false;
        }
        else {
            return true;
        }
    });   
});


</script>